/* ------------------------------------- <em>/
/</em>   header
/* ------------------------------------- */
#header{
    //background-color: #a2c6dc;
    min-height: 50px;
    margin-bottom: 20px;
}
/* ------------------------------------- <em>/
/</em>   footer
/* ------------------------------------- */
#footer{
    //background-color: #a2c6dc;
    min-height: 50px;
    margin-top: 20px;
}

/* ------------------------------------- <em>/
/</em>   content
/* ------------------------------------- */
#content{
   min-height: 500px;
}

.title{
    text-align: left;
    margin-top: 40px;
    margin-bottom: 20px;
}

.text-box{
    margin-bottom: 40px;
}

.tree-box{
    padding: 9px 14px;
    margin: 14px 0;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
}


/*  breadcrumb
/*--------------------------------- */
.breadcrumb > li + li:before {
    content: ">\00a0";
}
.breadcrumb span.current{
    color: #fff;
    font-weight: bold;
    background-color: #149bdf;
    padding: 5px;
    margin: 0 -5px;
    border-radius: 4px;
}

/*  button
/*--------------------------------- */
div.next-btn{
    text-align: right;
    margin-top: 20px;
}

button.next-btn{
    width: 80px;
    text-align: center;
}

div.download-btn{
    text-align: center;
    margin-top: 20px;
}
