<h3>
    <i class="glyphicon glyphicon-folder-open"></i>
    &nbsp;{{tree['book']['book-meta']['book-id']['#text']}}
</h3>

<div class="row" class="back-matter">
<tabset>
    <tab ng-repeat="(header, contents) in tree['book']['back']" heading="{{header}}">
        <!-- end notes -->
        <div ng-if="header === 'fn-group' && typeOf(contents) !== 'Array'">
            <endnotes fn-group="contents" type-of="typeOf" omit="omit"></endnotes>
        </div>
        <div ng-if="header === 'fn-group' && typeOf(contents) === 'Array'" ng-repeat="content in contents">
            <hr ng-if="!$first" />
            <endnotes fn-group="content" type-of="typeOf" omit="omit"></endnotes>
        </div>
        <!-- end of end notes -->


        <!-- glossary -->
        <div ng-if="header === 'glossary' && typeOf(contents) !== 'Array'">
            <glossary def-list="contents" type-of="typeOf" omit="omit"></glossary>
        </div>
        <div ng-if="header === 'glossary' && typeOf(contents) === 'Array'" ng-repeat="content in contents">
            <hr ng-if="!$first"/>
            <glossary def-list="content" type-of="typeOf" omit="omit"></glossary>
        </div>
        <!-- end of glossary -->


        <!-- bibliography -->
        <div ng-if="header === 'ref-list' && typeOf(contents) !== 'Array'">
            <bibliography ref-list="contents" bib-type="bibType" omit="omit" type-of="typeOf"></bibliography>
        </div>
        <div ng-if="header === 'ref-list' && typeOf(contents) === 'Array'" ng-repeat="content in contents">
            <hr ng-if="!$first"/>
            <bibliography ref-list="content" bib-type="bibType" omit="omit" type-of="typeOf"></bibliography>
        </div>
        <!-- end of bibliography -->

    </tab>
</tabset>

</div>

<div class="row">&nbsp;</div>
<div class="row">
    Debug Area
    <pre><code>{{tree['book']['back'] | json}}</code></pre>
</div>
