<h3>
    <i class="glyphicon glyphicon-file"></i>
    &nbsp;{{chapter['@id']}}
</h3>
<table class="table">
    <tr>
        <th width="20%">Chapter Title</th>
        <td colspan="5">
            <a href="#" editable-text="chapter['book-part-meta']['title-group']['title']"
               onbeforesave="isEmpty($data)">
                {{chapter['book-part-meta']['title-group']['title'] || 'empty'}}
            </a>
        </td>
    </tr>
    <tr>
        <th rowspan="{{chapter['book-part-meta']['contrib-group']['contrib'].length + 1}}">
            Contributor
            <button class="btn btn-default pull-right"
                    ng-click="chapter['book-part-meta']['contrib-group']['contrib'].push({'@contrib-type':'author', '@rid': '', name:{'surname':'', 'given-names':''}})">
                Add
            </button>
        </th>
        <th width="18%">Role</th>
        <th width="18%">First Name</th>
        <th width="18%">Last Name</th>
        <th width="18%">Affiliation</th>
        <th width="8%"></th>
    </tr>
    <tr ng-repeat="c in chapter['book-part-meta']['contrib-group']['contrib']">
        <td>
            <a editable-select="c['@contrib-type']" e-ng-options="type for type in contribType">
                {{c['@contrib-type'] || 'Not set'}}
            </a>
        </td>
        <td>
            <a href="#" editable-text="c['name']['given-names']" onbeforesave="isEmpty($data)">
                {{c['name']['given-names'] || 'empty'}}
            </a>
        </td>
        <td>
            <a href="#" editable-text="c['name']['surname']" onbeforesave="isEmpty($data)">
                {{c['name']['surname'] || 'empty'}}
            </a>
        </td>
        <td>
            <a href="#" editable-select="c['@rid']"
               e-ng-options="t['@id'] as t['@id'] for t in chapter['book-part-meta']['aff']">
                {{c['@rid'] || 'Not set'}}
            </a>
        </td>
        <td>
            <div ng-show="chapter['book-part-meta']['contrib-group']['contrib'].length > 1">
                <button class="btn btn-default"
                        ng-click="chapter['book-part-meta']['contrib-group']['contrib'].splice($index,1)">
                    <i class="glyphicon glyphicon-remove"></i>
                </button>
            </div>
        </td>
    </tr>
    <tr>
        <th rowspan="{{chapter['book-part-meta']['aff'].length + 1}}">
            Affiliation
            <button class="btn btn-default pull-right"
                    ng-click="chapter['book-part-meta']['aff'].push({'@id':'', 'institution': '', 'addr-line': ''})">
                Add
            </button>
        </th>
        <th>ID</th>
        <th colspan="2">Institution</th>
        <th>Address</th>
        <th></th>
    </tr>
    <tr ng-repeat="a in chapter['book-part-meta']['aff']">
        <td>
            <a href="#" editable-text="a['@id']" onbeforesave="isEmpty($data)">
                {{a['@id'] || 'empty'}}
            </a>
        </td>
        <td colspan="2">
            <a href="#" editable-text="a['institution']" onbeforesave="isEmpty($data)">
                {{a['institution'] || 'empty'}}
            </a>
        </td>
        <td>
            <a href="#" editable-text="a['addr-line']">{{a['addr-line'] || 'empty'}}</a>
        </td>
        <td>
            <div ng-show="chapter['book-part-meta']['aff'].length > 1">
                <button class="btn btn-default"
                        ng-click="chapter['book-part-meta']['aff'].splice($index,1)">
                    <i class="glyphicon glyphicon-remove"></i>
                </button>
            </div>
        </td>
    </tr>
    <tr>
        <th>Volume</th>
        <td colspan="5">
            <a ng-if="chapter['book-part-meta'].hasOwnProperty('volume')"
               href="#" editable-text="chapter['book-part-meta']['volume']">
                {{chapter['book-part-meta']['volume'] || 'empty'}}
            </a>
        </td>
    </tr>
    <th>
        Edition
        <button class="btn btn-default pull-right" ng-if="!chapter['book-part-meta'].hasOwnProperty('edition')"
                ng-click="chapter['book-part-meta']['edition'] = ''">
            Add
        </button>
    </th>
    <td colspan="5">
        <a href="#" editable-text="chapter['book-part-meta']['edition']">
            {{chapter['book-part-meta']['edition'] || 'empty'}}
        </a>
    </td>
    </tr>
    <tr>
        <th>
            Keywords
            <button class="btn btn-default pull-right"
                    ng-click="chapter['book-part-meta']['kwd-group']['kwd'].push('')">
                Add
            </button>
        </th>
        <td colspan="5">
                <span ng-repeat="k in chapter['book-part-meta']['kwd-group']['kwd']">
                    <a href="#" editable-text="k">{{k || 'empty'}}</a>
                    <i class="glyphicon glyphicon-remove"
                       ng-click="chapter['book-part-meta']['kwd-group']['kwd'].splice($index,1)"></i>
                    <span ng-show="!$last">,&nbsp;&nbsp;</span>
                </span>
        </td>
    </tr>
    <tr>
        <th>Publication Date<br>
            <input type="checkbox" ng-model="pub_dateformat" checked="checked"/> date
            <button class="btn btn-default pull-right"
                    ng-click="chapter['book-part-meta']['pub-date'].push({'@pub-type': '', 'string-date': today})">
                Add
            </button>
        </th>
        <td colspan="5">
            <span ng-repeat="d in chapter['book-part-meta']['pub-date']">
                <a href="#" editable-select="d['@pub-type']" e-ng-options="type for type in pubType">
                    {{d['@pub-type'] || 'not set'}}:&nbsp;
                </a>
                <sapn ng-switch on="pub_dateformat">
                    <span ng-switch-when="true">
                        <a href="#" editable-date="d['string-date']">
                            {{ (d['string-date'] | date:"dd MMMM, yyyy") || 'empty'}}
                        </a>
                    </span>
                    <span ng-switch-when="false">
                        <a href="#" editable-month="d['string-date']">
                            {{ (d['string-date'] | date:"MMMM, yyyy") || 'empty'}}
                        </a>
                    </span>
                    <span ng-switch-default>
                        <a href="#" editable-month="d['string-date']">
                            {{ (d['string-date'] | date:"MMMM, yyyy") || 'empty'}}
                        </a>
                    </span>
                </sapn>
                <i class="glyphicon glyphicon-remove"
                   ng-click="chapter['book-part-meta']['pub-date'].splice($index,1)"></i>
                <span ng-show="!$last">,&nbsp;&nbsp;</span>
            </span>
        </td>
    </tr>
    <tr>
        <th>History<br>
            <input type="checkbox" ng-model="histry_dateformat" checked="checked"/> date
            <button class="btn btn-default pull-right"
                    ng-click="chapter['book-part-meta']['history']['date'].push({'@date-type': '', 'string-date': today})">
                Add
            </button>
        </th>
        <td colspan="5">
            <span ng-repeat="h in chapter['book-part-meta']['history']['date']">
                <a href="#" editable-select="h['@date-type']" e-ng-options="type for type in dateType">
                    {{h['@date-type'] || 'not set'}}:&nbsp;
                </a>
                <sapn ng-switch on="histry_dateformat">
                    <span ng-switch-when="true">
                        <a href="#" editable-date="h['string-date']">
                            {{ (h['string-date'] | date:"dd MMMM, yyyy") || 'empty'}}
                        </a>
                    </span>
                    <span ng-switch-when="false">
                        <a href="#" editable-month="h['string-date']">
                            {{ (h['string-date'] | date:"MMMM, yyyy") || 'empty'}}
                        </a>
                    </span>
                    <span ng-switch-default>
                        <a href="#" editable-month="h['string-date']">
                            {{ (h['string-date'] | date:"MMMM, yyyy") || 'empty'}}
                        </a>
                    </span>
                </sapn>
                <i class="glyphicon glyphicon-remove"
                   ng-click="chapter['book-part-meta']['history']['date'].splice($index,1)"></i>
                <span ng-show="!$last">,&nbsp;&nbsp;</span>
            </span>
        </td>
    </tr>
    <tr>
        <th>Abstract</th>
        <td colspan="5">
            <a href="#" editable-textangular="chapter['book-part-meta']['abstract']['p']">
                {{ chapter['book-part-meta']['abstract']['p'] || 'empty' }}
            </a>
        </td>
    </tr>
</table>
