<h3>
    <i class="glyphicon glyphicon-folder-open"></i>
    &nbsp;{{tree['book']['book-meta']['book-id']['#text']}}
</h3>

<div class="row" class="back-matter">
<tabset>
    <tab ng-repeat="(header, content) in tree['book']['back']" heading="{{header}}">
        <!-- glossary -->
        <div ng-if="content.hasOwnProperty('def-list') && !isArray(content['def-list'])">
            <glossary></glossary>
        </div>
        <!-- end of glossary -->


        <!-- bibliography -->
        <div ng-if="content.hasOwnProperty('ref') && !isArray(content['ref'])">
            <bibliography></bibliography>
        </div>
        <!-- end of bibliography -->

    </tab>
</tabset>

</div>

<div class="row">&nbsp;</div>
<div class="row">
    Debug Area
    <pre><code>{{tree['book']['back'] | json}}</code></pre>
</div>
